@font-face {
    font-family: 'Noto Sans';
    src: url('../assets/fonts/NotoSans-VariableFont_wdth,wght.woff2') format('woff2-variations');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.woff2') format('woff2-variations');
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}
