@use 'sass:math';
@use 'mixins/media';

:root {
    --gap: 1.2rem;
    --default-radius: 2rem;

    --color-neutral-900: #091540;
    --color-neutral-300: #C6C6C6;
    --color-red-700: #C7231A;
}

html {
    font-size: 62.5%;
}

body {
    padding: 2rem 1.6rem 6.4rem;
    font: 1.6rem/1.4 'Noto Sans', sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: math.div(-0.5em, 16);
    color: #535868;
    background-image: linear-gradient(to bottom, #EBF2FC, #EEFBF9), linear-gradient(to bottom, #FFF, #FFF);
    min-height: 100lvh;

    @include media.tablet {
        padding: 2.4rem 3.2rem 6.4rem;
    }

    @include media.desktop {
        padding-top: 4rem;
    }
}

img {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

button,
[type='submit'],
label {
    cursor: pointer;
}

ul {
    list-style: none;
}

h2 {
    font-size: 3.4rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1px;
    color: var(--color-neutral-900);
}
