/**
 * button bem module
 */
@use 'sass:math';

.button {
    padding: .8rem 1.6rem;
    border: 1px solid var(--color-neutral-300);
    border-radius: 99em;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: math.div(-0.5em, 16);
    color: var(--color-neutral-900);
    background-color: #fbfdfe;

    &.is-active {
        color: #fbfdfe;
        background-color: var(--color-red-700);
    }
}
