/**
 * main-header bem module
 */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    padding: 8px 12px;
    border-radius: 1rem;
    box-shadow: 0 .2rem .3rem 0 var(--color-header-shadow);
    border: solid 1px var(--color-border);
    background-color: var(--color-item-background);

    button {
        width: 5rem;
        aspect-ratio: 1;
        padding: 0;
        border-radius: 1.2rem;
        background-color: var(--color-main-header-button-background);
        background-image: var(--img-url-mode-switch);
        background-repeat: no-repeat;
        background-position: center;
    }
}
